@import url(header.css);

table {
    margin: 5%;
    width: 80%;
    border-collapse: collapse;
}

table, button {
    font-size: 1.1em;
}

tbody td{
    text-align: center;
}

tbody tr:hover {
    background-color: #CAD4E0FF;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.button-line {
    justify-content: space-between;
}

.cancel-cruise-btn {
    background: #E3171796;
}

.cancel-cruise-btn :hover {
    background: #ff0000b2;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 800ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}