@import url(header.css);
@import url(parent-styles.css);

input, select, button {
    font-size: 1em;
}


.option {
    max-width: 50%;
    padding: 4%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin: 1%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px #4F709C;
    border-radius: 20px;
    font-size: 1.3em;
}

.description-area {
    display: flex;
    flex-direction: column;
}

.booking-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cruise-description {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 2%;
}

.cruise-description span {
    margin: 0.5%;
}

.text-cruise-name {
    font-weight: bold;
    font-size: 1.4em;
}