@import url(header.css);

table {
    margin: 5%;
    width: 60%;
    border-collapse: collapse;
}

table, button {
    font-size: 1.1em;
}

tbody td{
    text-align: center;
}

tbody tr:hover {
    background-color: #CAD4E0FF;
}