@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400&display=swap');
*{
    font-family: 'Red Hat Display', sans-serif;
    font-size: large;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #F8F4E5;
}