@import url(header.css);

table {
    margin-top: 1.5%;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 50%;
    border-collapse: collapse;
}

.page-body {
    font-size: 1.2em;
}

tbody td{
    text-align: center;
}

 tbody tr:hover {
    background-color: #CAD4E0FF;
}