<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
</head>
<body>
    <div th:insert="~{header :: admin-header}"></div>
<table>
    <caption>Cruises</caption>
    <thead>
    <tr>
        <th>Ship</th>
        <th>First Port</th>
        <th>First Port Date</th>
        <th>Intermediate Ports</th>
        <th>Last Port</th>
        <th>Last Port Date</th>
<!--        EMPTY FOR EDIT BUTTON-->
        <th></th>
<!--        EMPTY FOR CANCEL BUTTON-->
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cruise : ${cruises}">
        <td th:value="${cruise.shipName}" th:text="${cruise.shipName}"></td>
        <td th:value="${cruise.firstPort}" th:text="${cruise.firstPort}"></td>
        <td th:value="${cruise.firstPortDate}" th:text="${cruise.firstPortDate}"></td>
        <td th:value="${cruise.intermediatePorts}" th:text="${cruise.intermediatePorts}"></td>
        <td th:value="${cruise.lastPort}" th:text="${cruise.lastPort}"></td>
        <td th:value="${cruise.lastPortDate}" th:text="${cruise.lastPortDate}"></td>
        <td>
            <button><a th:href="@{|/cruises/cruise/${cruise.id}|}">Edit</a></button>
        </td>
        <td>
            <div class="popup" id="popup">
                <div class="overlay">
                    <div class="content">
                        <p>If you submit, the cruise will be canceled</p>
                        <p>This action can not be undone</p>
                        <div class="button-line">
                            <button onclick="togglePopup()">Go Back</button>
                            <button class="cancel-cruise-btn"><a th:href="@{|/cruises/cruise/cancel/${cruise.id}|}">Cancel Cruise</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <button onclick="togglePopup()">Cancel</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>