<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link th:href="@{/css/admin.css}" rel="stylesheet">
</head>
<body>
    <button><a href="/cruises/cruise">Add Cruise</a></button>
    <button><a href="/ships">Manage Ships</a></button>
    <button><a href="/ships/ship">Add Ship</a></button>

<table>
    <caption>Cruises</caption>
    <thead>
    <tr>
        <th>Ship</th>
        <th>First Port</th>
        <th>First Port Date</th>
        <th>Intermediate Ports</th>
        <th>Last Port</th>
        <th>Last Port Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cruise : ${cruises}">
        <td th:value="${cruise.shipName}" th:text="${cruise.shipName}"></td>
        <td th:value="${cruise.firstPort}" th:text="${cruise.firstPort}"></td>
        <td th:value="${cruise.firstPortDate}" th:text="${cruise.firstPortDate}"></td>
        <td th:value="${cruise.intermediatePorts}" th:text="${cruise.intermediatePorts}"></td>
        <td th:value="${cruise.lastPort}" th:text="${cruise.lastPort}"></td>
        <td th:value="${cruise.lastPortDate}" th:text="${cruise.lastPortDate}"></td>
        <td>
            <button><a th:href="@{|/cruises/cruise/${cruise.id}|}">Edit</a></button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>