<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Page</title>
    <link th:href="@{/css/client-page.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{header :: client-header}"></div>
<div class="page-body">
    <form class="client-page-form" method="post" action="/client/change-password">
        <input type="text" name="userId" id="userId" th:value="${userId}" hidden="hidden">
        <input type="password" name="oldPassword" id="oldPassword" placeholder="Old Password" required>
        <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required>
        <input type="password" name="repeatNewPassword" id="repeatNewPassword" placeholder="Repeat New Password" required>
        <div th:if="${errors}">
            <p th:each="error : ${errors}" th:text="${error.defaultMessage}"></p>
        </div>
        <button type="submit">Submit</button>
        <button><a href="/user">Cancel</a></button>
    </form>
</div>
</body>
</html>