<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Page</title>
</head>
<body>
<form method="post" action="/client" th:object="${clientReadDto}" enctype="multipart/form-data">
    <input type="text" th:field="${clientReadDto.id}" name="id" hidden="hidden" readonly>
    <br>
    <label for="firstname">Firstname
        <input th:field="${clientReadDto.firstname}" readonly id="firstname">
    </label>
    <br>
    <label for="firstname">Lastname
        <input th:field="${clientReadDto.lastname}" readonly id="lastname">
    </label>
    <br>
    <label for="firstname">Email
        <input th:field="${clientReadDto.email}" readonly id="email">
    </label>
    <br>
    <label for="newDocument">Add document
        <input type="file" th:field="${clientReadDto.newDocument}" id="newDocument">
    </label>
    <button type="submit">Save</button>
    <table>
        <thead>
        <tr>
            <th><!--EMPTY FOR DOCUMENT LOGO--></th>
            <th>Document Name</th>
            <th>Document State</th>
            <th><!--EMPTY FOR DOCUMENT REMOVAL BUTTON--></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="document : ${clientReadDto.clientDocumentDtos}">
            <td>
                <img th:src="@{/images/document-logo.png}" style="width: 30px" alt="Document logo"/>
            </td>
            <td th:text="${document.name}"></td>
            <td th:text="${document.state}"></td>
            <td><a th:href="@{|/document/delete/${document.id}|}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</form>

<div>My bookings:</div>


</body>
</html>