<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Cruise</title>
</head>
<body>
<form action="/cruises/cruise" th:object="${cruiseCreateEditDto}" method="post">
    <select name="ship">
        <option th:each="ship : ${ships}"
        th:value="${ship.name}"
                th:text="${ship.name}">
        </option>
    </select>
    <input type="text" th:field="${cruiseCreateEditDto.description}" name="description" placeholder="Cruise description">
    <table>
        <thead>
        <tr>
            <th>Port Name</th>
            <th>Port Visit Date</th>
            <th><button type="submit" name="addPort">Add Port</button></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="port, rowStat : ${cruiseCreateEditDto.ports}">
            <td>
                <input type="text" th:field="${cruiseCreateEditDto.ports[__${rowStat.index}__].name}">
            </td>
            <td>
                <input type="date" th:field="${cruiseCreateEditDto.ports[__${rowStat.index}__].visitDate}">
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Save Cruise</button>
</form>
</body>
</html>