<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Ship</title>
    <link th:href="@{/css/ship-edit-page.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{header :: admin-header}"></div>
<div class="input-el">
    <form action="/ships/ship" th:object="${shipCreateEditDto}" method="post" enctype="multipart/form-data">
        <div class="input-el" th:if="${shipCreateEditDto.image != null}">
            <img th:src="@{|/api/v1/ship/image/${shipCreateEditDto.id}|}" style="width: 200px">
        </div>
        <div class="input-el">
            <input type="text" th:field="${shipCreateEditDto.name}" name="name" placeholder="Ship Name" required>
        </div>
        <div class="input-el">
            <input type="text" th:field="${shipCreateEditDto.previousName}" name="previousName" hidden="hidden">
        </div>
        <div class="input-el">
            <label for="image" th:if="${shipCreateEditDto.image == null ||shipCreateEditDto.image.isEmpty()}">
                <input type="file" name="image" id="image">
            </label>
        </div>
        <table>
            <thead>
            <tr>
                <th>Seat Group</th>
                <th>Class</th>
                <th>Price</th>
                <th>First Seat Number</th>
                <th>Last Seat Number</th>
                <th>Cabin Capacity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="seat,rowStat : ${shipCreateEditDto.seats}">
                <td>
                    <input th:field="${shipCreateEditDto.seats[__${rowStat.index}__].seatGroup}"
                           th:value="${seat.seatGroup}" readonly>
                </td>
                <td>
                    <input th:field="${shipCreateEditDto.seats[__${rowStat.index}__].seatClass}"
                           th:value="${seat.seatClass}" readonly>
                </td>
                <td>
                    <input th:field="${shipCreateEditDto.seats[__${rowStat.index}__].seatPrice}"
                           th:value="${seat.seatPrice}" readonly>
                </td>
                <td>
                    <input th:field="${shipCreateEditDto.seats[__${rowStat.index}__].firstSeatNumber}"
                           th:value="${seat.firstSeatNumber}" readonly>
                </td>
                <td>
                    <input th:field="${shipCreateEditDto.seats[__${rowStat.index}__].lastSeatNumber}"
                           th:value="${seat.lastSeatNumber}" readonly>
                </td>
                <td>
                    <input th:field="${shipCreateEditDto.seats[__${rowStat.index}__].numberOfPersons}"
                           th:value="${seat.numberOfPersons}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${errors}">
            <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}"/>
        </div>
        <button type="submit">Save</button>
    </form>
</body>
</html>