<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Ship</title>
    <link th:href="@{/css/ships-admin-style.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{header :: client-header}"></div>
<div class="page-body">
    <table>
        <caption>Our Ships</caption>
        <thead>
        <tr>
            <th><!--FOR SHIP IMAGE--></th>
            <th>Name</th>
            <th>Capacity</th>
            <th>Scheduled Cruises</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ship : ${ships}">
            <td><img th:src="@{|/api/v1/ship/image/${ship.id}|}" style="width: 200px"></td>
            <td th:text="${ship.name}"></td>
            <td th:text="${ship.passengerCapacity}"></td>
            <td th:text="${ship.scheduledCruises}"></td>
            <td>
                <button><a th:href="@{|/cruises?ship_name=${ship.name}|}">View Cruises</a></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>