<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Ship</title>
</head>
<body>
<form action="/ships/ship" th:object="${shipCreateEditDto}" method="post">
    <input type="text" th:field="${shipCreateEditDto.name}" name="name" placeholder="Ship Name" required>
    <input type="text" th:field="${shipCreateEditDto.previousName}" name="previousName" hidden="hidden">
    <table>
        <thead>
        <tr>
            <th>Seat Group</th>
            <th>Class</th>
            <th>Price</th>
            <th>First Seat Number</th>
            <th>Last Seat Number</th>
            <th><button type="submit" name="addSeat">Add seat</button></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seat,rowStat : ${shipCreateEditDto.seats}">
            <td>
                <input th:field="${shipCreateEditDto.seats[__${rowStat.index}__].seatGroup}" required>
            </td>
            <td>
                <select th:field="${shipCreateEditDto.seats[__${rowStat.index}__].seatClass}">
                    <option th:each="seatClass: ${seatClasses}"
                            th:value="${seatClass}"
                            th:text="${seatClass.name}"></option>
                </select>
            </td>
            <td>
                <input th:field="${shipCreateEditDto.seats[__${rowStat.index}__].seatPrice}" required>
            </td>
            <td>
                <input th:field="${shipCreateEditDto.seats[__${rowStat.index}__].firstSeatNumber}" required>
            </td>
            <td>
                <input th:field="${shipCreateEditDto.seats[__${rowStat.index}__].lastSeatNumber}" required>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>